
<!-- 
<router-outlet></router-outlet> -->
<form [formGroup]="profileFrom" (ngSubmit)="onSubmit()">
  
    <label for="email">Name</label>
    <input type="text" formControlName="name">
  <br>
  <label for="email">Email</label>
  <input type="text" formControlName="email">
  <!-- <label>
    Password
  </label>
  <input type ="text" formControlName="pass"  [ngClass]= "{'has.error':profileFrom.get('pass').errors&&(profileFrom.get('pass').touched || profileFrom.get('pass').dirty)}">
  <span *ngIf="profileFrom.get('pass').errors&&(profileFrom.get('pass').touched || profileFrom.get('pass').dirty)">
      <span *ngIf="profileFrom.get('pass').errors.required">
        name is req
      </span>
     
    </span>

<br> -->

  <!-- <label>
    lastname
  </label>
  <input type ="text" formControlName="lastname">
  
  <br> -->
    <!-- <label>
      email
    </label>
    <input type ="text" formControlName="email"> -->

    <button type="submit"  >save</button>
    <button type="button" (click) ="load()" >load</button>
     
  </form>